common --repo_env=DO_NOT_TRACK=1
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
common --@aspect_rules_py//py:python_version=3.11

build:docker --experimental_enable_docker_sandbox
build:docker --noexperimental_docker_use_customized_images
build:docker --spawn_strategy=worker,sandboxed,docker,local
build:docker --allowed_strategies_by_exec_platform=//:manylinux_2_28=docker
build:docker --allowed_strategies_by_exec_platform=//:manylinux2014=docker

build:remote --spawn_strategy=remote,worker,sandboxed,local
build:remote --allowed_strategies_by_exec_platform=//:manylinux_2_28=remote
build:remote --allowed_strategies_by_exec_platform=//:manylinux2014=remote
